nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(141, 137, 137);
  padding: 9px;
}
nav input{
  width: 250px;
  text-decoration: none;
  padding: 9px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  padding-left: 22px;
}
.searchBar{
  display: flex;
  align-items: center;
  gap: 11px;
}
nav button{
  width: 70px;
  height: 38px;
  background-color: green;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
}
.main_heading{
  color: white;
}
